<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.myapplication"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>-->

    <!-- 添加查询所有应用的权限 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"/>
    <!-- 添加获取应用信息的权限 -->
    <queries>
        <!-- 查询特定包名的应用 -->
        <package android:name="com.duolingo" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.cmcc.cmvideo" />

        <!-- 查询特定intent能处理的应用 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- 查询特定provider -->
        <provider android:authorities="com.example.app.provider" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoPlay" />
        <activity android:name=".AppList"
            android:launchMode="standard"/>
        <activity android:name=".ChatMainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".NewChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

<!--        &lt;!&ndash; 接收应用安装/卸载广播 &ndash;&gt;-->
<!--        <receiver-->
<!--            android:name=".PackageChangeReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
<!--                <action android:name="android.intent.action.PACKAGE_REMOVED" />-->
<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>